[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/etc/docker/compose/%i
ExecStartPre=-/usr/bin/bash ./systemd-pre.sh
ExecStart=/usr/bin/bash -c 'readarray -d $'"'"'\\0'"'"' arr < <(find . -name '"'"'docker-compose.*.yml'"'"' -printf '"'"'-f %p\\0'"'"'); eval docker-compose "${arr[@]}" up -d --build --remove-orphans'
ExecStop=/usr/bin/bash -c 'readarray -d $'"'"'\\0'"'"' arr < <(find . -name '"'"'docker-compose.*.yml'"'"' -printf '"'"'-f %p\\0'"'"'); eval docker-compose "${arr[@]}" stop'

[Install]
WantedBy=docker.service
